.register--block {
    display: flex;
    justify-content: center;
    align-items: center;
    

}
body{
    background-color: #e1eedd;
}

.register--block form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: -webkit-fill-available;
    margin-top: 20px;
}

.register--block form input {

    width: 50%;
    margin: 6px;
    padding: 11px;
    border-radius: 10px;
    border: none;

}

.register--block button {
    width: 50%;
    margin: 6px;
    padding: 11px;
    border-radius: 10px;
    border: none;
    background-color: #183a1d;
    color: white;
    font-size: 13px;
    letter-spacing: 0.5px;
}